* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: url(./bg.png) no-repeat;
    background-size: cover;
}

header {
    display: flex;
    width: 70%;
    margin: auto;
    top:10%;
    height: 20%;
    align-items: center;
    position: fixed;
    left: 160px;
    z-index: 1;
    
}

.logo-container, .nav-link, .contact-container {
    display: flex;
}

.logo-container {
    flex: 0;
}

.logo-container h4 {
    display: none;
}

.logo {
    font-weight: 400;
}

.logo-container img {
    animation: droplogo 1.5s ease;
}


.nav-links {
    justify-content: space-around;
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 0;
    top: 13%;
}

.nav-link {
    color: #f0f0f0;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    margin: auto 15px;
    position: relative;
      
}

.nav-link:hover {
    color: #71CB62;
    transition: .3s linear;
}

.burger {
    display: none;
}
.burger div{
    width: 30px;
    height: 4px;
    margin:5px;
    background-color: white;
}

.contact-container {
    justify-content: flex-end;
    position: absolute;
    top: -60px;
    right: 40px;
    align-items: center;
}

.contact-container a {
    text-decoration: none;    
    color: #f0f0f0;
    font-style: italic;
}

.contact-container .iconify {
    font-size: 40px;
    color: #f0f0f0;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;

}

.content {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    position: relative;
    top:40%;
    left: 0;
}

.introduction {
    min-height: 10vh;
    position: absolute;
    top: 50%;
    left:0;
    font-family: 'Merriweather', serif;
    font-style: italic;
    color: #f0f0f0;
}

.intro-text h1 {
    font-size: 36px;
    margin-bottom: 30px;
    animation: slogan 1.5s ease;
}

.intro-text p {
    max-width: 450px;
    font-size: 16px;
    font-weight: 100;
    animation: slogan 1.5s ease;
}

.search-container {
    position: absolute;
    bottom: -40px;
    right: 0;
}

.search-box {
    position: relative;
    transform: translate(0,-100%);
    background: transparent;
    border: 1px solid #f0f0f0;
    height: 50px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    background: transparent;
}

.search-btn {
    color: #f0f0f0;
    float:right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    transition: .4s;
    bottom: 20%;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #f0f0f0;
    font-size: 15px;
    transition: .4s;
    line-height: 30px;
    width: 0px;
}

.search-txt:hover::placeholder {
    color: #f0f0f0;
}


.view-portfolio {
    position: absolute;
    top: 90%;
    margin-top: 20px;
    text-align: center;
}

.portfolio-btn:hover {
    color: #000000;
    background-color: #f0f0f0;
    border: 1px solid#f0f0f0;
    cursor: pointer;
}

.portfolio-btn {
    border: 1px solid #71CB62;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 1000;
    color: #f0f0f0;
    background-color: #71CB62;
    transition: .3s linear;
  

}

.sm {
    position: absolute;
    top: 100%;
    font-size: 40px;
    text-align: center;
    height: 300px;
    margin-top: 50px;
}

.sm a {
    text-decoration: none;
    color: #f0f0f0;
    margin: 20px;
    transition: .3s linear;
}

.sm a:hover {
    color: #71CB62;
}

@keyframes droplogo {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slogan {
    0% {
        opacity: 0;
        transform: translateX(-70px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (max-width:769px) {
    body {
        flex-direction: column;
        background-color: maroon;
    }

    header {
        background-color: transparent;
        width: 100%;
        height: 150px;
        top: 0px;
        left: 0;
        text-align: center;
        margin: auto;

    }

    .logo-container img {
        width:80px;
        height: 80px;
        margin: 40px 30px 10px 30px;
        
    }

    .contact-container {
        position: absolute;
        display: flex;
        top: 0px;
        right: auto;
        margin-bottom: 10px;
        background-color: #f0f0f0;
        width: 100%;
        align-items: center;
    }

    .contact-container a {
        color: #000000;
    }
    .contact-container .iconify {
        color: #000000;
    }

    .introduction {
        text-align: center;        
    }

    .search-container {
        display: none;
    }


}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 94vh;
        width: 50%;
        top:6vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform .5s ease-in;      

    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        cursor: pointer;
    }
    
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,8px);
    background-color: white;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-8px);
    background-color: white;
}